.fondo{
    background-image: url(./callLoggin.jpg);
    position:absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .cajaLogin {
    color: aliceblue;
    width: 37em;
    height: 20em;
    border-color: rgb(124, 123, 123);
    border-style: ridge;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20em;
    margin-bottom: 10em;
    background-color: #3c49644f;
  }

  .inputLogin{
    display: contents;
  
  }

  .nomPass{
    color:#62a1d8;
    width: 223px;
    height: 40px;
  }

  .btnLogin{
    background-color: rgb(29 177 92 /71%);
    border: none;
    color: white;
    padding: 9px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    width: 180px;
    height: 60px;
    text-align: center;
  }
  .btnLogin:hover{
    background-color: rgb(29 177 92);
    width: 182px;
    
  }
  .linkRegistrar{
    color:#62a1d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width:640px){
    .fondo{
      background-image: url(./callLogginmovil.jpg);
      position:absolute;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  
    .cajaLogin {

      position: relative;
      left: 63px;
      border-color: rgb(209 105 53);
      background-color: #9e9e9e1f;
      bottom: -88px;
    }

    .tituloLoggin{
      color: #eb6611;
    }

  
    .inputLogin{
      display: contents;
      color: #eb6611;
    
    
    }
  
    .nomPass{
      color: #757575;
   
    }
  
    .btnLogin{
      background-color: rgb(209 105 53);
    }
    .btnLogin:hover{
      background-color: #eb6611;
      width: 182px;
      
    }
    .linkRegistrar{
      color: #e3ab0e;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

