.cajaDrchaPrincipal{
    background-image: url(./call2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: rgb(124, 123, 123);
    border-style: ridge;
    background-position-x: -51em;
    height: 1005px;
    width: 15em;
}

@media (min-width:641px) and (max-width:4000px){
.cajaDerechaPrincipalResponsive{
    display:none;
}
}

@media (max-width:640px){
    .cajaDrchaPrincipal{
        display:none;
    }

.cajaDerechaPrincipalResponsive{
      background-image: url(./footermovil.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      /* border-color: rgb(124, 123, 123); */
      background-position-x: 0em;
      background-position-y: -19px;
      height: 141px;
      width: 360px;
      /* border-style: ridge; */
      margin-left: 26px;
      margin-top: 0px;
  }
}

  